body {
	background-color: #0c32ae;
}
.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   }
.Box {
	margin-left: 15%;
	margin-top: 30px;
	width: 70%;
	background-color: powderblue;
	height: 1000px;
}

#logo {
	width: 100%;
	height: 250px;
	opacity: 1;
}

.menu {
	width: 100%;
	margin-bottom: 50px;

}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	display: block;
	width: 100%;
}

/*Create a horizontal list with spacing*/
li {
	display: block;
	float: left;
	margin-right: 0.08%;
	width: 13.85%;
} /*Style for menu links*/
li a {
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
	margin-right: 4px;
}
.contain{
 float: left;
  clear: none; 
}

/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}
.pretraga{
	margin-left:30%;}
.table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even){background-color: #f2f2f2}
.contain1 {        
  margin-left:35%;
  margin-right:auto;
 margin-top: 10%;
 }

@media screen and (min-width: 480px) {
  li {
  width: 13.87%;
 }
 #standard {
  font-size: 12px;
 }
#veci {
  font-size: 5px;
 }#veci1{
    font-size: 9px;
}}
@media screen and (min-width: 800px) {
  li {
  width: 13.87%;
 }
 #standard, #veci1 {
  font-size:15px;
 }
 #veci {
  font-size: 11px;
 }
}
@media screen and (min-width:1200px) {
   li {
  width: 13.87%;
 }
 #standard, #veci1 {
  font-size: 20px;
 }
#veci {
  font-size: 15px;
 }
}
.contain {        
  margin-left:15%;
  margin-right:auto;
}