<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LogInServlet</servlet-name>
  	<display-name>LogInServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SacuvajVrstuPolaskaServlet</servlet-name>
  	<display-name>SacuvajVrstuPolaskaServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.SacuvajVrstuPolaskaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoviPolasciServlet</servlet-name>
  	<display-name>NoviPolasciServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.NoviPolasciServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrevoznikServlet</servlet-name>
  	<display-name>PrevoznikServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.PrevoznikServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GradServlet</servlet-name>
  	<display-name>GradServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.GradServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UnosLinijeServlet</servlet-name>
  	<display-name>UnosLinijeServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.UnosLinijeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogInServlet</servlet-name>
  	<url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SacuvajVrstuPolaskaServlet</servlet-name>
  	<url-pattern>/SacuvajVrstuPolaskaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoviPolasciServlet</servlet-name>
  	<url-pattern>/NoviPolasciServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrevoznikServlet</servlet-name>
  	<url-pattern>/PrevoznikServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GradServlet</servlet-name>
  	<url-pattern>/GradServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UnosLinijeServlet</servlet-name>
  	<url-pattern>/UnosLinijeServlet</url-pattern>
  </servlet-mapping>
</web-app>
