body {
   
    background-color: #0c32ae;
}
.Box {
	margin-left: 15%;
	margin-top: 30px;
	width: 84.5%;
	background-color: powderblue;
	height: 1500px;
	color: #8000ff;
}
table, td, th {    
    border: 2px solid #ff0080;
    text-align: center;
    background-color: white;

}
 table {
 	width: 100%;
 
 }
 
.pretragaPolazaka{
 	width: 65%;
 }

 }
.text {
	color: red;
}
#logo {
	width: 100%;
	height: 250px;
	opacity: 1;
}

.menu {
	width: 100%;
	margin-bottom: 50px;

}

/*Strip the ul of padding and list styling*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	display: block;
	width: 100%;
}

/*Create a horizontal list with spacing*/
li {
	display: block;
	float: left;
	margin-right: 0.08%;
	width: 13.85%;
} /*Style for menu links*/
li a {
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ff0000;
	background: #004080;
	text-decoration: white;
	margin-right: 4px;
}
.contain{
 float: left;
 clear: none; 
}

.rezervacija1 {
	width:600px; margin:0 auto;
	color: #000080;
}

.rezervacija2 {
	width:600px; margin:0 auto;
	color: #c60000;
}

.vrstaKarte {
	width:600px; margin:0 auto;
	color: #000080;
}

.datum{
	width:200px; margin:0 auto;
	color: #000080;
	
}
/*Hover state for top level links*/
li:hover a {
	background: #19c589;
}
.pretraga{
	margin-left:30%;}
	

.contain1 {        
  margin-left:35%;
  margin-right:auto;
  margin-top: 20%;

 }
 
@media screen and (min-width: 480px) {
  li {
  width: 13.87%;
 }
 #standard {
  font-size: 18px;
 }
#veci {
  font-size: 15px;
 }#veci1{
    font-size: 15px;
}}
@media screen and (min-width: 800px) {
  li {
  width: 13.87%;
 }
 #standard, #veci1 {
  font-size:15px;
 }
 #veci {
  font-size: 15px;
 }
 
 #standardA {
	font-size: 10px;
	width: 140px;
}

#standardO {
	font-size: 14px;
	width: 282px;
}

#standardR {
	font-size: 14px;
    width: 225px;

}

}


@media screen and (min-width:1200px) {
   li {
  width: 13.87%;
 }
 #standard, #veci1 {
  font-size: 15px;
 }
#veci {
  font-size: 10px;
 }
#standardA {
	font-size: 14px;
	width: 140px;
}

#standardO {
	font-size: 14px;
	width: 282px;
}

#standardR {
	font-size: 14px;
    width: 225px;

}
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color:#ff8040;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:#ff8040;
  
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:#ff8040;
   
}

.contain {        
  margin-left:15%;
  margin-right:auto;
}